# Общие исключения
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib
*.exe
*.app
*.out
*.qrc
*.pyc
__pycache__/

# Каталоги сборки
build/
CMakeFiles/
CMakeCache.txt

# Конфигурационные файлы IDE
.idea/
*.user
*.pro.user
*.qbs.user
*.codelite
*.cproject
*.project

# Файлы, генерируемые Qt
*.moc
*.qrc
*.ts
*.qm
*.ui
*.qml
*.cpp~*
*.h~*

# Логи
*.log
